.footer__top {
  background-color: #318c8c;
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .footer__top {
    display: none;
  }
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 86px 0 65px 0;
}

.footer__title {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  padding: 0 0 50px 75px;
}

.footer__list {
  padding-left: 75px;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s ease;
  display: block;
  padding-bottom: 34px;
}
.footer__link:hover {
  opacity: 1;
  text-decoration: underline;
}

.footer__text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  color: #ffffff;
  opacity: 0.5;
  transition: 0.3s ease;
  display: block;
  padding-bottom: 34px;
}

.footer__link--logo {
  display: flex;
  opacity: 1;
}

.footer__col--grow {
  flex-grow: 10;
}

.footer__bottom {
  background-color: #2f797a;
  padding: 25px 0;
}

.footer__holder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer__holder {
    flex-direction: column-reverse;
    padding-top: 45px;
  }
}

.footer__social-link .icon {
  color: #ffffff;
  font-size: 16px;
}

.footer__social-item {
  display: inline-block;
  margin-left: 29px;
  font-size: 21px;
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer__social-item {
    margin: 0 15px;
  }
}

.footer__copyright {
  color: #ffffff;
}
@media only screen and (min-width: 120px) and (max-width: 767px) {
  .footer__copyright {
    margin: 25px auto;
    font-size: 12px;
  }
}