.forma {
  padding: 120px 0 40px 0;
  background-color: var(--whitish);
}
.forma__container {
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    padding: 65px 109px 114px 109px;
  }

  @media only screen and (min-width: 120px) and (max-width: 767px) {
    padding: 57px 0 55px 0;
  }
}

.forma__headline {
  margin-bottom: 80px;
  font-weight: 600;
  font-size: 32px;
  line-height: 24px;
  color: var(--almostBlack);
  text-align: center;
  width: 100%;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin-bottom: 60px;
    font-size: 28px;
  }

  @media only screen and (min-width: 120px) and (max-width: 767px) {
    margin-bottom: 41px;
    font-size: 23px;
  }
}

.forma__header {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.forma__image {
  align-self: stretch;
  width: 50%;
  background-size: 100% auto;
  @media only screen and (min-width: 120px) and (max-width: 1024px) {
    display: none;
  }
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.forma__form-wrap {
  width: 50%;
  height: 100%;
  border: 1px solid var(--almostBlack);
  border-radius: 5px;
  padding: 15px;
}

.forma__form {
  display: block;
  width: 100%;
  @media only screen and (min-width: 120px) and (max-width: 1024px) {
    width: 100%;
  }
}

.forma__label {
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: var(--darkGrey);
  display: block;
  @media only screen and (min-width: 120px) and (max-width: 1024px) {
    font-size: 14px;
  }
}

.forma__input::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: var(--formGrey);
}

.forma__input {
  margin-bottom: 25px;
  padding-left: 20px;
  border: 1px solid var(--formGrey);
  border-radius: 5px;
  max-width: 498px;
  width: 100%;
  height: 58px;
  display: block;
  background-color: var(--whitish);
  color: var(--darkGrey);
  font-weight: 600;
  font-size: 18px;
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 498px;
    height: 58px;
  }
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    padding-left: 15px;
    margin-bottom: 19px;
  }
}

.forma__input--message {
  max-width: 498px;
  width: 100%;
  height: 140px;
  padding-left: 20px;
  margin-bottom: 21px;
  padding-top: 22px;
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    height: 102px;
  }
}

.forma__input--message::placeholder {
  margin: auto;
}

.forma__label--terms {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--darkGrey);
  width: 100%;
  font-weight: 400;
  color: var(--almostBlack);
  @media only screen and (min-width: 120px) and (max-width: 767px) {
    margin-right: 35px;
  }
}

.forma__check {
  transform: scale(1.4);
  accent-color: var(--white);
  margin-right: 8px;
}

.forma__link {
  font-weight: 600;
  color: var(--orange);
  text-decoration: none;
  transition: 0.3s ease;
}

.forma__link:hover {
  color: var(--orangeBtnHover);
}

.forma__btn {
  display: block;
}

input[type='date']::-webkit-calendar-picker-indicator {
  width: 15px;
  height: 15px;
  padding-right: 15px;
}

.forma__element {
  color: var(--orange);
  font-weight: 800;
}

.forma__btn {
  padding: 15px 25px;
  background-color: var(--orange);
  border-radius: 5px;
  color: var(--white);
  transition: 0.3s ease;
}

.forma__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.forma__btn:active {
  transform: scale(0.95);
}

.forma__switch-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.forma__switch-title {
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  color: var(--almostBlack);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.forma__switch-span {
  width: 50%;
}

.forma__switch-span:nth-child(1) {
  text-align: end;
}

.forma__switch-span:nth-child(2) {
  text-align: start;
}

.forma__switch-container {
  width: 51px;
  height: 31px;
  position: relative;
}

.forma__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.forma__switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--formGrey);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.forma__slider {
  width: 27px;
  height: 27px;
  position: absolute;
  left: calc(50% - 27px / 2 - 10px);
  top: calc(50% - 27px / 2);
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.forma__checkbox:checked + .forma__switch {
  background-color: var(--brightGreen);
}

.forma__checkbox:checked + .forma__switch .forma__slider {
  left: calc(50% - 27px / 2 + 10px);
  top: calc(50% - 27px / 2);
}

.forma__wrapper {
  width: 100%;
  padding: 10px 0 10px 20px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
  margin: 10px 0;
}

.forma__additional-fields {
  padding: 0 20px;
  width: 100%;
}

.forma__person {
  font-weight: 700;
  margin-bottom: 20px;
}

.forma__btn--close {
  background-color: red;
}

.forma__btn--custom {
  display: none;
  background-color: var(--lightBlueBtn);
}

.forma__btn--custom:hover {
  background-color: var(--lightBlueBtnHover);
}

.forma__success {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 350px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--brightGreen);
  color: var(--white);
}

.forma__success-button {
  color: var(--white);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  line-height: 1.2em;
  transition: 0.3s ease;
}

.forma__success-button:hover {
  cursor: pointer;
  color: var(--orange);
}
